name: CI/CD Pipeline

on: [push]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Install docker-compose
        run: |
          sudo apt-get update
          sudo apt-get install -y docker-compose
          docker-compose --version


  unit-tests:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Run Unit Tests
        run: |
          echo "test"

  integration-tests:
    needs: unit-tests
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Run Integration Tests
        run: |
          # Тестируем взаимодействие между 2-3 сервисами
          echo "Testing payment + order integration..."
          # Здесь тесты, которые проверяют API вызовы между сервисами

  e2e-tests:
    needs: integration-tests  
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Run E2E Tests
        run: |
          # Тестируем ВСЮ систему
          docker swarm init
          docker stack deploy -c docker-compose.yml app
          sleep 30
          # Тесты, которые проходят полный сценарий:
          # Создание заказа → Оплата → Получение чека